CHANNEL=Christmas in summer

LOCALE=zh-cn
TIMEZONE=Asia/Shanghai

TELEGRAM=Glebe_st
TWITTER=
GITHUB=
DISCORD=https://DISCORD.com
PODCASRT=https://PODCASRT.com
MASTODON=
BLUESKY=

FOOTER_INJECT=FOOTER_INJECT
HEADER_INJECT=HEADER_INJECT

NO_FOLLOW=false
NO_INDEX=false

TELEGRAM_HOST=telegram.dog
STATIC_PROXY=""
GOOGLE_SEARCH_SITE=""
TAGS=""
COMMENTS=""
LINKS=""
NAVS=""
RSS_BEAUTIFY=""